@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

:root {
  --dark-bg-primary: #171717;
  --dark-bg-secondary: #2c2c2c;
  --dark-text-primary: #f7fafc;
  --dark-text-secondary: #e2e8f0;
  --dark-text-accent: #81e6d9;

  --light-bg-primary: #ffffff;
  --light-bg-secondary: #edf2f7;
  --light-text-primary: #2d3748;
  --light-text-secondary: #4a5568;
  --light-text-accent: #2b6cb0;
}

@layer components {
  .custom_title {
    @apply text-light_text_s mb-4 font-semibold text-lg;
  }
  .custom_hr {
    @apply border-t border-dark_text_s dark:border-dark_bg_s my-6;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Fira Code", "monospace",
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
